ion-card-header {
  text-align: center; 
}

.ion-content-center {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.boton-registrar {
  justify-content: center;
  align-items: center;
  display:flex;
  font-size: 11px; 
  padding: 5px 9px; 
  width: auto; 
}

.enlace-login {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}